<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetbackcomposeexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetbackComposeExample">
        <activity
            android:name=".screen.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetbackComposeExample.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.VisibilityActivity" />
        <activity android:name=".screen.AnimatableActivity" />
        <activity android:name=".screen.AnimateContentSizeActivity" />
        <activity android:name=".screen.AnimationAsStateActivity" />
        <activity android:name=".screen.AnimationContentActivity" />
        <activity android:name=".screen.CrossFadeActivity" />
        <activity android:name=".screen.CustomAnimationActivity" />
        <activity android:name=".screen.DecayAnimationActivity" />
        <activity android:name=".screen.EasingActivity" />
        <activity android:name=".screen.GestureActivity" />
        <activity android:name=".screen.KeyFramesActivity" />
        <activity android:name=".screen.RememberInfiniteActivity" />
        <activity android:name=".screen.SpringActivity" />
        <activity android:name=".screen.TargetBasedActivity" />
        <activity android:name=".screen.UpdateTransitionActivity" />
        <activity android:name=".screen.VectorDrawableActivity" />
    </application>

</manifest>